@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-right-radius ($radius) {
	-webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius ($radius) {
	-webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

@mixin border-top-left-radius ($radius) {
	-webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin border-bottom-left-radius ($radius) {
	-webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
}

@mixin box-shadow ($val) {
	-webkit-box-shadow: $val;
     -moz-box-shadow: $val;
      -ms-box-shadow: $val;
          box-shadow: $val;
}

@mixin appearance ($val) {
	-webkit-appearance: $val;
     -moz-appearance: $val;
      -ms-appearance: $val;
          appearance: $val;	
}

body {
	background-color: #F1F5F7;
}

main {
	padding: 30px 0;
}

.content-container {
	background-color: #fff;
	padding: 10px;
	margin: 26px auto 10px;

	@include border-radius(7px);
	@include box-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
}

.custom-container {
	margin: 26px auto 10px;

	.input-container {

		.input-hold-lg {
			margin: 15px auto;
		}
	}
}

.content-container-title {
	h3 {
		margin-bottom: 25px;
	}
}

.sub-container-title {
	h4 {
		text-align: center;
	}
}

.input-span-default {
	display: inline-block;
	width: 140px;
	padding: 6px;
	text-align: center;
	background-color: #E5E5E5;
	
	@include border-top-left-radius(6px);
	@include border-bottom-left-radius(6px);
}

.input-text-default {
	width: 123px;
	padding: 5px;
	border: 1px solid #E5E5E5;
	margin-left: -8px;
	text-align: center;
	
	@include border-radius(6px);

}



.input-hold-md {
	margin-bottom: 15px;

	span.input-label {
		@extend .input-span-default;
	}

	input[type="text"] {
		@extend .input-text-default;
		
		@include border-top-left-radius(0px);
		@include border-bottom-left-radius(0px);

		@media (min-width: 992px) and (max-width: 1196px) {
			width: 78px;
		}

		@media (min-width: 726px) and (max-width: 991px) {
			width: 69%;
		}

		@media (min-width: 480px) and (max-width: 720px) {
			width: 70%;
		}
	}

	input[type="text"].input-border {
		@include border-radius(6px);
	}

}

.input-hold-lg {
	margin: 30px auto;

	span.input-label {
		@extend .input-span-default;
		padding: 9px;
	}

	input[type="text"] {
		@extend .input-text-default;
		width: 200px;
		@include border-top-left-radius(0px);
		@include border-bottom-left-radius(0px);

		padding: 8px;
		
		@media (min-width: 992px) and (max-width: 1196px) {
			width: 133px;
		}

		@media (min-width: 726px) and (max-width: 991px) {
			width: 80%;
		}

		@media (min-width: 480px) and (max-width: 720px) {
			width: 74%;
		}
	}

	select {
		@extend .input-text-default;
		width: 200px;
		background-color: transparent;
		padding: 9px;
		
		@media (min-width: 992px) and (max-width: 1196px) {
			width: 133px;
		}

		@media (min-width: 726px) and (max-width: 991px) {
			width: 80%;
		}

		@media (min-width: 480px) and (max-width: 720px) {
			width: 74%;
		}

	}
}

.btn-default {
	background-color: #fff;
	padding: 15px 50px;
	text-decoration: none;
	color: #000;
	font-weight: 400;
	outline: 0;
	border: none;

	&:hover {
		background-color: #8DE322;
		color: #fff;
	}

	@media (max-width: 600px){
		padding: 25px;
		display: block;
	}
}

.btn-wrapper {
	margin: 30px auto 30px;
	position: relative;
	.btn-hold {
		display: inline-block;
		text-transform: uppercase;

		@media (max-width: 600px){
			float: none;
			display: block;
			margin: 10px auto;
			text-align: center;
		}

		.box-left {
			@extend .btn-default;

			@include border-top-left-radius(6px);
			@include border-bottom-left-radius(6px);
			@include box-shadow(-3px 2px 3px rgba(0, 0, 0, 0.3));

			@media (max-width: 600px){
				@include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
				@include border-radius(6px);
			}
		}

		.box-right {
			@extend .btn-default;

			@include border-top-right-radius(6px);
			@include border-bottom-right-radius(6px);
			@include box-shadow(3px 2px 3px rgba(0, 0, 0, 0.3));

			@media (max-width: 600px){
				@include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
				@include border-radius(6px);
			}
		}

		.box-whole {
			@extend .btn-default;
			position: absolute;
			right: 0;
			width: 200px;
			@include border-radius(6px);
			@include box-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
			
			@media (min-width: 480px) and (max-width: 720px) {
				position: static;
				width: 100%;
			}
		}

		select {
			@extend .input-text-default;
			width: 200px;
			background-color: #fff;
			padding: 15px;

			position: absolute;
			right: 210px;
			@include box-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
			
			@media (min-width: 480px) and (max-width: 720px) {
				position: static;
				width: 100%;
				margin-left: 0;
			}

		}
	}

	&::after {
		content: ' ';
		display: block;
		clear: both;
	}
}

/* classes that have names (class="var") */
.payslip-calc {

	.input-hold-md {
		
		input[type="text"] {

			@media (min-width: 726px) and (max-width: 991px) {
				width: 80%;
			}
		}
	}

	.ot-hold {
		.input-hold-md {
		
			input[type="text"] {

				@media (min-width: 726px) and (max-width: 991px) {
					width: 69%;
				}

				@media (max-width: 725px) {
						width: 75%;
				}

				&.input-border {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}