nav {
	.navigation-wrapper {

		background-color: #1FBE25;
		padding: 20px 0;
		
		@include box-shadow(0px 4px 5px rgba(0,0,0,0.3));
		
		ul.main-navigation {
			margin: 0;
			padding: 0;
			float: left;

			li {
				display: inline-block;
				margin-left: 5px;

				a {
					color: #fff;
					text-decoration: none;
					padding: 21px;

					&:hover {
						background-color: #138917;
					}
				}

			}
		}

		ul.navigation {
			margin: 0;
			padding: 0;
			float: right;
			li {
				display: inline-block;
				margin-right: 5px;

				a {
					color: #fff;
					text-decoration: none;
					padding: 21px;

					&:hover {
						background-color: #138917;
					}
				}

			}
		}
		
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}
	}
}